.spinner {
  height: 100vh;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.spinner-border {
  width: 2.5rem;
  height: 2.5rem;
  border: 0.25em solid #FFF;
  border-right-color: transparent;
}
.user-menu.nav > li > .dropdown-menu {
  opacity: 0;
  top: 0;
  visibility:hidden;
  transition: 0.3s ease all;;
}
.user-menu.nav > li > a:focus+.dropdown-menu {
  opacity: 1;
  top: -30px;
  visibility: visible;
  transition: 0.5s ease all;;
}
.user-menu.nav > li > .dropdown-menu.notifications {
  left: auto;
  right: 0;
}
.sidebar {
  height: calc(100% - 90px) !important;
}
#sidebar-menu {
  height: 100%;
  overflow-y: overlay;
}
.sidebar-inner {
  height: 100%;
  transition: all 0.2s ease-in-out 0s;
  overflow: hidden;
}
#sidebar-menu::-webkit-scrollbar {
width: 7px;
height: 7px;
}
#sidebar-menu::-webkit-scrollbar-track {
box-shadow: inset 0 0 0 rgb(205 205 205);
}
.sidebar-inner:hover #sidebar-menu::-webkit-scrollbar-track {
box-shadow: inset 0 0 6px rgb(205 205 205);
}
#sidebar-menu::-webkit-scrollbar-thumb {
background-color:#fff;
}
.sidebar-inner:hover #sidebar-menu::-webkit-scrollbar-thumb {
background-color:#cccccc;
}
.text-link {
  cursor: pointer;
}
.hide {display:none}
.show {display:block !important}
a.subdrop, .sidebar-menu > ul > li > a {
  transition: 1s ease all;
}
.sidebar-menu ul ul.show, .sidebar-menu ul ul {
  transition: 1s ease all;
}
.user-menu.nav li.user-profile-list>a {
  display: flex !important;
}
.range-separator {
  margin-top: -2px;
}
.pulse {
  top: 20px !important;
  right: 1px !important;
  width: 14px !important;
  height: 14px !important;
}
.pulse:before {
  width: 14px !important;
  height: 14px !important;
}
.pulse>.count {
  position: absolute;
  display: block;
  z-index: 999;
  color: #2e37a4;
  font-size: 9px;
  font-weight: 600;
  top: 0;
  left: 0;
  width: 14px;
  line-height: 14px;
  text-align: center;
}